<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <header>
      <nav>
        {% if request.endpoint != 'login' %} {% if g.user %}
        <a href="{{ url_for('employees') }}">Employees</a>
        <a href="{{ url_for('projects') }}">Projects</a>
        <a href="{{ url_for('managers') }}">Managers</a>
        {% if session.role == 'admin' %}
        <a href="{{ url_for('add_employee') }}">Add Employee</a>
        {% endif %}
        <a href="{{ url_for('logout') }}">Logout</a>
        {% else %}
        <a href="{{ url_for('login') }}">Login</a>
        {% endif %} {% endif %}
      </nav>
    </header>

    <main>
      {% with messages = get_flashed_messages() %} {% if messages %}
      <ul class="flashes">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %} {% endwith %} {% block content %}{% endblock %}
    </main>
  </body>
</html>
