<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employees Page</title>
</head>
<body style="margin: 0;">
    <nav style="background-color: #aAAA; padding: 20px 0;">
        <h2>Company Database</h2>

        <a href="{{ url_for('employees') }}" style="text-decoration:none; padding:8px 14px; background:white; border-radius:6px; border:1px solid black;">
            Employees
         </a>
        <a href="{{ url_for('projects') }}"style="text-decoration:none; padding:8px 14px; background:white; border-radius:6px; border:1px solid black;">
            Projects
        </a>
    </nav>

    <h1>Employee Information</h1>

    <table border="1" width="100%">
        <tr>
            <th>Department Name</th>
            <th>Department Number</th>
            <th>Manager Full Name</th>
            <th>Department Employee Count</th>
            <th>Department Total Hours</th>
        </tr>

        {% for m in managers %}
        <tr>
            <td>{{ m[0] }}</td>
            <td>{{ m[1] }}</td>
            <td>{{ m[2] }}</td>
            <td>{{ m[3] }}</td>
            <td>{{ m[4] }}</td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>